{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1>Les annonces en lignes</h1>

	{% for annonce in annonces %}
		<div class="annonce">
			<div class="image">
                <img src="{{ asset('uploads/images/annonces') ~ annonce.images[0]] }}" alt="{{ annonce.title }}">
            </div>
			<div class="content">
				<div class="title"></div>
				<div class="description"></div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
