*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

i{
    color: $primary__color;
}

.flex{
    display: flex;
    flex-direction: column;
}